<md-dialog aria-label="" ng-controller="movetreeController">
    <form>

        <md-toolbar >
            <div class="md-toolbar-tools">
                <h1>Flytta</h1>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="closeLinkModal()">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <md-input-container class="md-block">

                <table class="" style="width:100%;">
                    <tr>
                        <td style="width:20px;"><i class="material-icons" ng-if="folder.parent" ng-click="goto(folder.parent)">keyboard_arrow_left</i></td>
                        <td align="left">{{folder.name}}</td>
                    </tr>
                </table>

                <nav class="mdl-navigation">
                    <table class="" style="width:100%;">
                        <tr ng-repeat="folder in folders">
                            <td><span style="outline: none; cursor: pointer;" ng-click="select(folder.id,$event)">{{folder.name}}</span></td>
                            <td><i class="material-icons" ng-if="folder.childs" ng-click="goto(folder.id)">keyboard_arrow_right</i></td>
                        </tr>
                    </table>
                </nav>

            </md-input-container>

            <md-dialog-actions layout="row" >
                <span flex></span>
                <md-button md-autofocus ng-click="move()">Flytta</md-button>
            </md-dialog-actions>

        </md-dialog-content>

    </form>
</md-dialog>