<div class="mdl-layout" ng-controller="ActionsModalController">

    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--1-col">
            <h1>Welcome</h1>
        </div>
        <div class="mdl-cell mdl-cell--1-col"></div>
    </div>


    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--1-col"></div>
        <div class="mdl-cell mdl-cell--1-col">
            <a href="#/" ng-click="auth($event)"><img src="/img/signin.png"></a>
        </div>
        <div class="mdl-cell mdl-cell--1-col"></div>
    </div>

</div>